* {
    font-family: 'Roboto', sans-serif !important;
}

.bg-index {
    background-color: #3C5E77 !important;
}

.alturaMainLogin {
    height: 100vh;
}

.mainCentro {
    margin-left: auto !important;
    margin-right: auto !important;
    overflow-x: hidden;
}

.borderNone {
    border: 0 !important;
}

.myForm {
    background-color: #3C5E77 !important;
    padding: 15px !important;
    color: white;

}

#add_more {
    color: #3C5E77 !important;
    background-color: rgba(185, 228, 170, 0.7) !important;
    border-radius: 1rem !important;
    border: 0 !important;
    padding: 0.5rem !important;
    font-size: 1.1rem !important;
    height: calc(10px + 7vw);
    width: calc(10px + 7vw);
    max-width: 50px;
    max-height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-family: 'Nunito', sans-serif !important;
}

#add_more:hover {
    color: #3C5E77 !important;
    background-color: rgb(35, 35, 35) !important;


}

#remove_more {
    color: #3C5E77 !important;
    background-color: rgba(185, 228, 170, 0.7) !important;
    border-radius: 1rem !important;
    border: 0 !important;
    display: none;
    padding: 0.5rem !important;
    font-size: 1.1rem !important;
    height: calc(10px + 7vw);
    width: calc(10px + 7vw);
    max-width: 50px;
    max-height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Nunito', sans-serif !important;
}

#remove_more:hover {
    color: #3C5E77 !important;
    background-color: rgb(35, 35, 35) !important;
}

.submit_btn {
    border-radius: 1rem !important;
    background-color: #BAE4AC !important;
    color: #3C5E77 !important;
    border: 0 !important;
    padding: 0.8rem !important;
    font-size: 1.1rem !important;
    font-weight: bold;
}

.submit_btn:hover {
    border-radius: 0.2rem !important;
    background-color: #3C5E77 !important;
    color: #BAE4AC !important;
    border: 0 !important;
    transition: ease 0.5s;
}

.loginTit:link {
    color: white;
}

.loginTit:visited {
    color: white;
}

.loginTit:hover {
    color: #BAE4AC;
    text-decoration: none;
}

.loginTit:active {
    color: white;
}

.div-logo-landingPage{
    width: calc(10px + 16vw * 3.2); /*manter as proporções da imagem , sendo ela dependente na width da janela*/
    height: calc(10px + 5vw);
    overflow: hidden;
} 

.div-logo-landingPage-img{
    display: block;
    height: 100%;
    max-width: 400px;
    margin: auto;
}


.form-control {
    background-color: #fff !important;
    border: 0 !important;
    border-radius: 1rem !important;
    padding: 1.5rem !important;
}

.form-control:hover {
    background-color: #fff !important;
}

.form-control:focus {
    background-color: #fff !important;
    color: black !important;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
    border: 0 !important;
}
