* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif !important;
}

.bg-index {
    background-color: #F1F3F6 !important;
}

.bg-azul-aplans {
    background-color: #3C5E77 !important;
}

.text-azul-aplans {
    color: #3C5E77 !important;
}

.text-branco-evento{

color: #FFFFFF !important;

}


.botoesMain{
    font-size: 2rem;
    color: #6D3FE6;
    text-decoration-style: none;
}

.avatar-circular{
  max-height: 100%;
  overflow: hidden;
  border-radius: 50%;
  float: right;
  max-width:calc(45px + 5vw);
  height: calc(45px + 5vw);
}
.avatar-circular-amigos{
  max-height: 100%;
  overflow: hidden;
  border-radius: 50%;
  float: right;
  max-width:calc(30px + 5vw);
  height: calc(30px + 5vw);
}

.avatar-circular-chat{
    max-height: 100%;
    overflow: hidden;
    border-radius: 50%;
    float: right;
    max-width:calc(5px + 5vw);
    height: calc(5px + 5vw);
  }

.avatar-circular-amigos img{
    max-width: 100%;
}
.avatar-circular-chat img{
    max-width: 100%;
}

.avatar-circular img{
    max-width: 100%;
}


.alturaMainLogin {
    height: 100vh;
}



.mainCentro {
    margin-left: auto !important;
    margin-right: auto !important;
    overflow-x: hidden;
}

.borderNone {
    border: 0 !important;
}

.myForm {
    background-color: #3C5E77 !important;
    padding: 15px !important;
    color: white;

}

#add_more {
    color: #3C5E77 !important;
    background-color: rgba(185, 228, 170, 0.7) !important;
    border-radius: 1rem !important;
    border: 0 !important;
    padding: 0.5rem !important;
    font-size: 1.1rem !important;
    height: calc(10px + 7vw);
    width: calc(10px + 7vw);
    max-width: 50px;
    max-height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-family: 'Nunito', sans-serif !important;
}

#add_more:hover {
    color: #3C5E77 !important;
    background-color: rgb(35, 35, 35) !important;


}

#remove_more {
    color: #3C5E77 !important;
    background-color: rgba(185, 228, 170, 0.7) !important;
    border-radius: 1rem !important;
    border: 0 !important;
    display: none;
    padding: 0.5rem !important;
    font-size: 1.1rem !important;
    height: calc(10px + 7vw);
    width: calc(10px + 7vw);
    max-width: 50px;
    max-height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Nunito', sans-serif !important;
}

#remove_more:hover {
    color: #3C5E77 !important;
    background-color: rgb(35, 35, 35) !important;
}

.submit_btn {
    border-radius: 1rem !important;
    background-color: #BAE4AC !important;
    color: #3C5E77 !important;
    border: 0 !important;
    padding: 0.8rem !important;
    font-size: 1.1rem !important;
    font-weight: bold;
}

.submit_btn:hover {
    border-radius: 0.2rem !important;
    background-color: #3C5E77 !important;
    color: #BAE4AC !important;
    border: 0 !important;
    transition: ease 0.5s;
}

.loginTit:link {
    color: rgba(186, 228, 172, 0.8);
    font-size: 1.5rem;
}

.loginTit:visited {
    color: #BAE4AC;
}

.loginTit:hover {
    color: #BAE4AC;
    text-decoration: none;
}

.loginTit:active {
    color: #BAE4AC;
}
/*manter as proporções da imagem , sendo ela dependente na width da janela*/
.div-logo-landingPage{
    width: calc(10px + 16vw * 3.2); 
    height: calc(10px + 5vw);
    overflow: hidden;
} 

.div-logo-landingPage-img{
    display: block;
    height: 100%;
    max-width: 400px;
    margin: auto;
}


.form-control {
    background-color: #fff !important;
    border: 0 !important;
    border-radius: 1rem !important;
    padding: 1.5rem !important;
}

.form-control:hover {
    background-color: #fff !important;
}

.form-control:focus {
    background-color: #fff !important;
    color: black !important;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
    border: 0 !important;
}

#myProgress1 {
    width: 90%;
    background-color: #D4D4D8;
    border-radius: 6rem;
    
  }
  
#myBar1 {
    width: 80%;
    height: 20px;
    background-color: #7041EE;
    border-radius: 6rem;
}

#myProgress2 {
    width: 90%;
    background-color: #D4D4D8;
    border-radius: 6rem;
  }
  
#myBar2 {
    width: 30%;
    height: 20px;
    background-color: #7041EE;
    border-radius: 6rem;
}

#myProgress3 {
    width: 90%;
    background-color: #D4D4D8;
    border-radius: 6rem;
  }
  
#myBar3 {
    width: 60%;
    height: 20px;
    background-color: #7041EE;
    border-radius: 6rem;
}

#myProgress4 {
    width: 90%;
    background-color: #D4D4D8;
    border-radius: 6rem;
}
    
    
#myBar4 {
    width: 50%;
    height: 20px;
    background-color: #7041EE;
    border-radius: 6rem;
}





.tablink {
  color: #3C5E77;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  width: 25%;
  background-color:  #F1F3F6;
 border-top: 2px lightgray solid;
 border-bottom: 2px lightgray solid;
 
}
.tablink:focus{
    outline: 0px;
    
}
.tablink:hover{
    font-weight: bold;
}
.tablink:active{
    font-weight: bolder;
}

/*.tablink:hover {
  background-color: #777;
}*/


.tabcontent {
  display: none;
}

#myProgressHome1 {
    width: 100%;
    background-color: #D4D4D8;
    border-radius: 6rem;
    height: 15px;
  }

#myBarHome1 {
    width: 80%;
    height: 15px;
    background-color: #7041EE;
    border-radius: 6rem;
}


.marginT{
    margin-top: 10%;
}

.mainTasks{  
    border-left: 5px solid red;
}

.selectSize{
    width: 30px;
    height: 30px; 
}

.selectMargin{
    margin-top: 10%;
    margin-left: 70%;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 2rem;
}
  
ul li{
    display:inline-block;
    clear: both;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 2px;
    font-size: 2rem;
}
  
.him{
    background: rgba(109, 63, 230, 0.2);
    color: #6F41E9;
    max-width: 66%;
    word-wrap: break-word;
    font-size: 0.9rem;
    padding: 10px;
}
  
.me{
    float: right;
    background: rgba(250, 79, 59, 0.2);
    color: #FA4F3B;
    max-width: 66%;
    word-wrap: break-word;
    font-size: 0.9rem;
    padding: 10px;
}

.margemConteudo {
    margin-top: 22rem;
}

.margemConteudoColapsado {
    margin-top: 10rem;
}

#nav_pequena{
    opacity: 0;
    padding: 0;
    max-height: 700px;
    transition: all 0.1s ease !important;
    /* transition:max-height 1s ease-out !important; */
}

#nav_grande{
    opacity: 0;
    /*max height necessita de ter um valor para que a anicação ocorra, este número n~~ao influencia nada*/
    max-height: 100vh; 
    transition: all 0.1s ease !important;
    /* transition:max-height 1s ease-out !important; */

}

.hide {
    display: none !important;
}

.show {
    opacity: 1 !important;
    /* transition: all 0.25s ease; */
}

.animacao{
    padding-top: 3.5rem !important;
    padding-bottom: 3.5rem !important;
    /* transition: all 0.5s ease; */
}
.animacao2{
    max-height: 4.5rem !important;
    /* transition: all 0.5s ease; */
}

.arrow{
    width: 1.5rem;
}
.posicao_seta{
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    left: 0;
}

.girar_seta{
    transform: scaleY(-1);
}

/*Main page*/

.add-event{
    height: calc(10px + 7vw);
    width: calc(10px + 7vw);
    max-height: 50px;
    max-width: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
    display: flex;
    background-color: #BAE4AC;
    color: #3C5E77;
    font-weight: 700;
    font-size: 5.5vw;
    font-family: 'Nunito', sans-serif !important;
    margin: auto;
}
.main-pessoas{
    height: calc(30px + 7vw);
    width: calc(30px + 7vw);
    max-height: 50px;
    max-width: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
    display: flex;
    background-color: #BAE4AC;
    color: #3C5E77;
    font-weight: 700;
    font-size: 5.5vw;
    font-family: 'Nunito', sans-serif !important;
    margin: auto;
}

.events{
    height: calc(10px + 14vw);
    width: 90%;
    justify-content: center;
    align-items: center;
    border-radius:5vw;
    text-align: center;
    display: flex;
    background-color: #FFFFFF;
    color: #3C5E77;
    font-weight: 700;
    font-size: calc(10px + 1.5vw);
    font-family: 'Nunito', sans-serif !important;
    margin: auto;
}
.events p:first-child{
    margin: 0;
    font-size: calc(10px + 1.5vw);
}
.events p:last-child{
    margin: 0;
    font-size: calc(6px + 1.5vw);
    font-weight: initial;
}

.index-titulos{
    font-size: calc(13px + 0.7vw);
}

.amigos{
    height: calc(45px + 14vh);
    width: 90%;
    justify-content: center;
    align-items: center;
    border-radius:5vw;
    text-align: center;
    display: flex;
    background-color: #FFFFFF;
    color: #3C5E77;
    font-weight: 700;
    font-size: calc(10px + 1.5vw);
    font-family: 'Nunito', sans-serif !important;
    margin: auto;
}

.btn-evento{
    cursor: pointer !important;
}

/*Carrossel MAIN*/

.botaoParticipar {
    border: 1px;
    text-decoration: none;
    background-color: rgba(186, 228, 172, 0.3);
    color:white;
    border: 2px solid rgba(186, 228, 172, 0.5);
    border-radius: 15px;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    font-weight: 600;
}


.botaoParticipar:focus {
    outline: none;
}

.organizador{
    background-color: rgba(109, 63, 230, 0.2); 
    border-radius: 15px; color: #6F41E9;
    font-weight: 500;
    border: 2px solid #6F41E9;
}

.botaoAbandonar {
    text-decoration: none;
    background-color: rgba(255, 89, 89, 0.3);
    color: white;
    border: 2px solid rgba(255, 89, 89, 0.5) ;
    border-radius: 15px;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    font-weight: 600;
}

.botaoAbandonar:focus {
    outline: none;
}

.botaoCheio {
    text-decoration: none;
    background-color: rgba(119, 118, 118, 0.5);
    color: white;
    border: 2px solid rgba(86, 84, 84,0.8);
    border-radius: 15px;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    font-weight: 600;
}

.botaoCheio:focus {
    outline: none;
}